footer {
  background-color: #6320ee;
  padding: 100px 0;
  color: #fff;
}
footer h1 {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 800;
 
}

footer p {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.5;
  margin-bottom: 20px;
}
footer h2 {
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 10px;
  opacity: 0.5;
}
